/*div {
    display: flex;
    justify-content: center;
    gap: 12 cm; 
}
*/

header {

    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    align-items: center;
    background-color: #2B2A2B;
  
}


body {
    
}

.cafe1 {

    display: flex;
    justify-content: flex-start;
margin-left: 100px;
margin-right: 100px;
gap: 50px
;
}

.class1cafe {

    display: flex;
    flex-direction: column;
    justify-content: center;



}