* {
    font-family: 'Outfit';
    margin: 0px;
    padding: 0px;
}

a {
    color: white;
    text-decoration: none;
}


#cafe1 {

    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    align-content: center;
    height: 64px;
    padding: 12px, 40px, 12px, 40px;

}

.boton-tienda:link {
    text-decoration: none;
}

.boton-tienda {
    color: white;
}

.cafe1 {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;

}


.cafe1a {
    margin-left: 2%;
}

.cafe1bottom {
    display: flex;
    gap: 3%;
}

.cafe1b {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.cafe1b>div {
    margin: 4%;
}

.cafe1c {

    display: flex;
    align-items: center;
    margin-left: 10%;

}

.cafe1c>div {
    margin: 6px;
}

.init_sesion {
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    width: 100px;
    background-color: #515051;

}

.cafe1d {
    margin-right: 3%;
}

#cafe2 {

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/image/imagen/cafeconleche2.jpeg);
    background-image: center;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 380px;
}

.cafe2a {

    text-align: center;
}

.cafe2b {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;

}

.cafe2c {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #F7F5F3;
    box-shadow: 0px 1px 4px rgba(227, 222, 215, 0.8);
    border-radius: 8px;
    width: 316px;
    height: 232px;
    gap: 16px;

}

.cafe2c>p {

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 268px;
    height: 64px;
}


.cafe3 {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    padding: 48px 40px;
    gap: 8px;

}


.boton-tienda {
    background: #2A5B45;
    border-radius: 10px;

    padding: 10px;
    height: 10px;
    width: 10px;

}

.boton-tienda:hover {
    background-color: #6A8C7D;
    background: #2A5B45;
    border-radius: 4px;

}

.class1cafe {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

}


#cafe4 {

    align-items: center;
    flex-wrap: wrap;
}

#cafe4>div {

    margin-top: 2%;
    margin-bottom: 2%;
}


#cafe4 {

    display: flex;
    flex-direction: column;
    margin: 2%;

}

.cafe4b {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px
}

.bolsa-cafe {
    border-style: groove;
    border-radius: 2%;
    padding: 24px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;

}

.card-header {
    background-color: red;
}

.card-title {

    /* display: flex;
flex-direction: row;
justify-content: center;
align-items: center; */

}




.btnbtn-primary {

    background-color: rgba(42, 91, 69, 0.7);
    color: white;
    border-radius: 2px;
    padding: 8px;
    gap: 8px;
}

.bolsa-cafe:hover {

    background-color: #F7F5F3;
}



.btnbtn-primary:hover {

    background-color: #2A5B45;
}

#cafeGreen {

    background-color: #2A5B45;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 621px;
    gap: 24px;
}

.PreguntaFrecuente {
    color: white;
}

#cafeGreen>p {
    font-size: 12px;
}

.CafeGreen3Cajas {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 668px;
    height: 425px;


}


.ComoHagoElPedido {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 668px;
    padding: 24px;


}

.ComoHagoElPedidoHeader {
    display: flex;

    justify-content: space-between;
}

.PorqueLosPreciosSonTanBajos {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 24px;
    width: 668px;

}

.PorqueLosPreciosSonTanBajosHeader {
    display: flex;
    justify-content: space-between;


}

.EsPosibleEnviarCafeAMiOficinaHeader {
    display: flex;
    justify-content: space-between;

}

.EsPosibleEnviarCafeAMiOficina {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 24px;
    width: 668px;

}

#arrowbox1>img {
    margin-bottom: 16px;
    margin-top: 16px;
}

#arrowbox2>img {
    margin-bottom: 16px;
    margin-top: 16px;
}

#arrowbox3>img {
    margin-bottom: 16px;
    margin-top: 16px;
}

.ResolvemosTusDudas {

    color: #FFFFFF;
}

#cafe5 {
    margin-top: 45.61px;
    margin-bottom: 45.39px;
    margin-left: 40px;
    margin-right: 40px;
}

.cafe5ab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.cafe5a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.cafe5a>h2 {

    color: #2A5B45;
    font-size: 24px;
    line-height: 28px;
}

.cafe5a>p {

    font-size: 14px;
    line-height: 16px;
    width: 588px;
}

#cafe6 {

    background-color: #E3DED7;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: flex-start;

}

#cafe6>p {
    color: #6B7280;
}

.cafe6a {
    margin-top: 98.57px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 32px;


}

.cafe6Header {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.cafe6Container {
    display: flex;
    flex-direction: column;
    gap: 24px
}



.cafe6b {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 32px 32px 32px 48px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 40px;
}

.cafe6bContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#formulario {

    display: flex;
    flex-direction: column;
    gap: 24px;
}

input,
select,
textarea {
    border: 1px solid #D1D5DB;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    height: 34px;
}

#submitFormulario {

    background-color: #2A5B45;
    border-radius: 4px;
    padding: 12px 24px;
    width: 90px;
    height: 40px;

}

.boton3 {

    width: 82px;
    height: 30px;
    padding: 8px;
    border-radius: 6%;
}

footer {
    background: #1F1815;
    height: 270px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    color: #FFFFFF
}

.titleFooter {

    margin-left: 40px;
    margin-top: 28px;
}

.footerLeft {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.Telefono {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #515051;
    /* padding: 12px 24px 12px 24px; */
    width: 182px;
    height: 42px;

}

.Telefono:nth-child(2) {
    font-size: 14px;
}

.emailHolaCafeAltura {

    display: flex;
    flex-direction: row;
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    background-color: #515051;
}


.footerMid {
    margin-top: 80.61px;
    margin-left: 321.67px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;


}

.footerRight {
    margin-top: 80.61px;
    margin-left: 127px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.footerEnd {
    display: flex;
    align-items: center;
    background: grey;
    height: 40px;

}

.footerEnd>p {
    margin-left: 540.5px;
}




.row {


    display: flex;
    flex-wrap: wrap;


}

/* TIENDA  */




#sacosTienda {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 24px
}

.bolsa-cafe {
    border-style: groove;
    border-radius: 2%;
    padding: 24px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;

}




/* CESTAS */

.cesta {

    display: flex;
    align-items: center;
    justify-content: center;
}

.cestaBody {

display: flex;
flex-direction: row;
align-items: center;


}

.totalCarrito {

    padding: 24px;
gap: 16px;

}

.productosCesta {

    padding: 8px;
gap: 24px;
}